.wrapper-default{
    width:170px;
    height: 50px;
    border-radius: 25px;
    background: #53A9FF;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 22px;
}

.button-default{
    width: 100%;
    height: 100%;
    background: #53A9FF;
    font-size: 20px;
    outline: none;
    border: none;
    color: #ffffff;
}