.wrapper-cash-button{
    width: 25px; 
    height: 25px;   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}    

.button-add-cahs{
   width: 25px; 
   height: 25px;
   background-color: #ffffff;
   outline: none;
   border: none;
}