.dialer{
    width: 248px;
    height: 315px;
    display: flex;
    flex-wrap:wrap;
    margin-left: 45px;
    margin-bottom: 60px;
}

.dialer-button-box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px #53A9FF solid;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 10px;
}

.button-dialer{
    width: 61px;
    height:61px;
    border-radius: 50%;
    border:none;
    outline: 1px solid #86bcf1;
    background-color: transparent;
    font-size: 40px;
    color:#53A9FF;
}